<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-png" href="/img/logo 1.png" width="100px" >
    <title> Detalhes </title>
</head>

<body class=>
    <%- include('./partials/header.ejs') %>
    <main>

        <section class="detalhes">
            <p id="num"><%= produto.id %></p>
            <div class="wrapper">
                <h3><%= produto.nome %></h3>
            </div>
                  </div>
                  <img id="img" src="<%= produto.img %>" alt="" />
                  <p class="descricao">Descrição: <%= produto.descricao %></p>
                  <p class="preco">Preço: R$<%= produto.preco %>,00</p>
          </section>


    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>